<p id="notice"><%= notice %></p>

<p>
  <strong>Full name:</strong>
  <%= @user_info.full_name %>
</p>

<%= image_tag(@user_info.image, style: "width: 500px") %>
<br>
<%= link_to 'Edit', edit_user_info_path(@user_info) %> |
<%= link_to 'Back', user_infos_path %>
